*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.blog-content h2{
    font-family: 'Playfair Display', serif;
    font-style: normal;
    line-height: 1.2;
    color: #242424;
    font-size: 28px;
font-weight: 400;
margin: 0;
}
.blog-date p{
    color: #242424;
font-size: 14px;
font-style: italic;
font-weight: 400;
}
.blog-date span{
    color: #519f10;
transition: all 0.3s ease 0s;
}
.blog-content p{
    font-family: 'Lora', serif;
    color: #242424;
    font-size: 15px;
    line-height: 26px;
}
.blog-btn a{
    color: #242424;
display: inline-block;
font-weight: 500;
margin: 2px 0 0;
padding-left: 48px;

}
.blog-btn a:hover{
    color: #519f10;
}
.blog-btn > a::before {
    background-color: #000000;
    content: "";
    height: 1px;
    left: 0;
    position: absolute;
    transition: all 0.3s ease 0s;
    width: 37px;
    margin-top: 12px;
  }
 
  .blog-social {
    display: flex;
    justify-content: end;
    margin-top: -25px;
  }

  .blog-social span{
    text-align: left;
    color: #242424;
font-weight: 500;
margin: 3px 15px 0 0;
text-transform: capitalize;
  }
  .blog-social ul li:nth-child(1) {
    margin-left: 0px;
  }
  .blog-social ul li {
    display: inline-block;
    margin-left: 13px;
    /* margin-top: 4px; */
  }
  .blog-social ul li a {
    color: #333333;
    font-size: 18px;
  }
  .blog-three {
   position: relative;
   padding: 74px 50px 77px 58px;
  }
  .quote-content > span {
    color: #fff;
  }
  .quote-content > h3 {
    font-family: 'Playfair Display', serif;
    color: #f3f2f2;
    font-size: 18px;
    font-weight: 500;
    line-height: 28px;
    margin: 19px 0 22px;
    text-transform: uppercase;
  }
  .quote-content > h3 a {
    color: #f3f2f2;
  }
  a{
    text-decoration: none;
background-color: transparent;
  }
  .quote-content h6 {
    font-family: 'Playfair Display', serif;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    margin: 0;
    padding-left: 28px;
    position: relative;
  }
  .quote-content h6::before {
    background-color: #f3f2f2;
    content: "";
    height: 1px;
    left: 0;
    position: absolute;
    top: 9px;
    transition: all 0.3s ease 0s;
    width: 18px;
  }
  .blog-five{

        padding: 74px 50px 77px 58px;
  }
  .post-img > img {
    max-width: 140px;
  }
  img{
    vertical-align: middle;
border-style: none;
  }
  .post-img img {
    display: inline-block;
    left: 0;
    margin: 0 auto;
   position: absolute;
    right: 0;
    text-align: center;
   margin-top: 60px;
    transform: translateY(-50%);
    z-index: 1;
  }

  /* /////////////////////////// */
  .blog-search form {
    position: relative;
  }
  .blog-search form input {
    background: #efefef none repeat scroll 0 0;
    border: medium none;
    border-radius: 3px;
    box-shadow: none;
    color: #555;
    font-size: 14px;
    height: 60px;
    padding-left: 20px;
    padding-right: 50px;
    width: 100%;
  }
  .news-form > button {
    background: transparent none repeat scroll 0 0;
    border: medium none;
    color: #666;
    font-size: 24px;
    padding: 0;
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    outline: medium none;
  }
 h4{
    font-family: 'Work Sans', sans-serif;
 }
 .blog-start{
    margin-bottom: 45px;
 }
 .rona{
    align-items: center;
display: flex;
margin-bottom: 20px;
 }
 .recent-post-content > h4 {
    color: #242424;
    font-size: 16px;
    margin-bottom: 4px;
    font-weight: 400;
  }
  .recent-post-content > span {
    color: #666;
  }
  .recent-post-img {
    margin-right: 25px;
  }
  .blog-widget-title {
    font-family: 'Work Sans', sans-serif;
    color: #353535;
    font-size: 20px;
    font-weight: 500;
    text-transform: capitalize;
  }  
  .blog-categori ul li {
    display: block;
    list-style: outside none none;
    margin-bottom: 15px;
  }
  .blog-categori ul li a {
    color: #242424;
    display: block;
    font-size: 14px;
    margin-left: -30px;
  }
  .blog-categori ul li a:hover{
    color: #519f10;
  }  
  .blog-instagram li {
    display: inline-block;
    margin-bottom: 9px;
    margin-right: 40px;
  }
  .blog-instagram li a {
    position: relative;
    display: inline-block;
    margin-left: -60px;
  }
  .blog-sidebar-social ,.blog-tags{
 margin-left: -40px;
  }
  .blog-sidebar-social li {
    display: inline-block;
    margin-right: 20px;
    
  }
  .blog-sidebar-social li a {
    color: #242424;
    font-size: 24px;
  }
  .blog-tags ul > li {
    display: inline-block;
    margin-bottom: 7px;
    margin-right: 17px;
    position: relative;
  }
  .blog-tags ul > li a {
    color: #242424;
    text-transform: capitalize;
  }
  
.blog-tags ul li::after {

    background-color: #6d6d6d;
    content: "";
    font-size: 8px;
    height: 12px;
    position: absolute;
    right: -12px;
    top: 4px;
    transform: rotate(20deg);
    width: 1.5px;

}
.blog-tags ul > li a {
    color: #242424;
    text-transform: capitalize;
}
.blog-tags ul li:last-child::after {
    display: none;
}

.pagination-total-pages {
    border: 1px solid #e9e9e9;
    padding: 15px 24px 3px;
  }
  .pagination-total-pages {
    display: flex;
    justify-content: space-between;
  }
  .pagination-style li {
    display: inline-block;
    list-style: outside none none;
    margin: 0 8px 0 0;
  }
  .pagination-style li a {
    background-color: #f1f1f1;
    border-radius: 3px;
    color: #242424;
    display: inline-block;
  }
  .pagination-style li a {
    border-radius: 3px;
    color: #242424;
    line-height: 1;
    font-size: 10px;
  }

  .pagination-style li a.next {
    background-color: #242424;
    color: #fff;
  }
  .pagination-style li a:hover,
  .pagination-style li a.next:hover {
      background-color: #519f10;
      color: #fff;
  }
  .total-pages > p {
    margin: 12px 0 0;
  }





  