.card-img-top{
    border: 1px solid #e9e9e9;
position: relative;
}
.pagination-total-pages {
    border: 1px solid #e9e9e9;
    padding: 15px 24px 3px;
  }
  .pagination-total-pages {
    display: flex;
    justify-content: space-between;
  }
  .pagination-style li {
    display: inline-block;
    list-style: outside none none;
    margin: 0 8px 0 0;
  }
  .pagination-style li a {
    background-color: #f1f1f1;
    border-radius: 3px;
    color: #242424;
    display: inline-block;
  }
  .pagination-style li a {
    border-radius: 3px;
    color: #242424;
    line-height: 1;
    font-size: 10px;
  }

  .pagination-style li a.next {
    background-color: #242424;
    color: #fff;
  }
  .pagination-style li a:hover,
  .pagination-style li a.next:hover {
      background-color: #519f10;
      color: #fff;
  }
  .total-pages > p {
    margin: 12px 0 0;
  }
  /* //////// */
  .shop-start {
    border: 1px solid #e9e9e9;
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
    padding: 15px 24px;
}
.view-mode {
    /* display: inline-block; */
    float: left;
    margin-right: 33px;
}
.view-mode li {
    display: inline-block;
}
.view-mode li a {
    color: #898888;
    font-size: 20px;
    display: inline-block;
    margin: 0 10px 0 0;
}
.view-mode li.active a {
    color: #519f10;
}
.shop-topbar-left > p {
    display: inline-block;
    margin: 3px 0 0;
}
.shorting-style {
    display: inline-block;
    margin-left: 20px;
}
.product-shorting.shorting-style {
    margin-left: 0;
}
.shorting-style > label {
    color: #242424;
    cursor: pointer;
    margin: 0 11px 0 0;
}
.product-shorting.shorting-style select {
    width: 110px;
}

.shorting-style select {
    background: #fff  no-repeat scroll right 10px center;
    border: 1px solid #ebebeb;
    border-radius: 3px;
    box-shadow: none;
    color: #242424;
    cursor: pointer;
    font-size: 14px;
    height: 30px;
    padding-left: 10px;
    width: 210px;
}
/* ///// */
.shop-end{
    border: 1px solid #efefef;
    padding: 17px 18px 29px;
}
h4.shop-sidebar-title {
    font-size: 18px;
    font-weight: 500;
    margin: 0;
}
.shop-catigory > ul {
    border-top: 1px solid #ebebeb;
    margin: 18px 0 0;
    padding: 27px 0 0;
}
.shop-catigory ul > li {
    display: block;
    list-style: outside none none;
    padding: 0 0 13px;
}
.shop-catigory ul > li:last-child {
    padding: 0 0 0px;
}
.shop-catigory ul > li ul li:last-child {
    padding: 7px 0 0 15px;
}
.shop-catigory ul > li a {
    color: #242424;
    display: block;
}

.shop-catigory ul li:hover > a {
    color: #519f10;
}
.shop-catigory ul li:hover > a i {
    color: #519f10;
}
.shop-catigory ul > li a i {
    float: right;
    color: #7a7a7a;
    font-size: 14px;
}
.shop-catigory ul > li > ul li {
    padding: 7px 0 0 15px;
}
.shop-catigory ul > li ul li a {
    color: #666;
}

.price_filter .ui-slider.ui-slider-horizontal.ui-widget.ui-widget-content.ui-corner-all {
    background: #dbdbdb none repeat scroll 0 0;
    border: medium none;
    border-radius: 50px;
    height: 5px;
    margin-bottom: 12px;
    margin-left: auto;
  }
.price_filter .ui-slider-range {
    background: #519f10 none repeat scroll 0 0;
}
.ui-slider-horizontal .ui-slider-range {
    top: 0;
    height: 100%;
  }
  .ui-slider .ui-slider-range {
    position: absolute;
    z-index: 1;
    font-size: .7em;
    display: block;
    border: 0;
   
  }
  .ui-slider {
    position: relative;
    text-align: left;
  }
  .ui-corner-all, .ui-corner-bottom, .ui-corner-right, .ui-corner-br {
    border-bottom-right-radius: 5px;
  }
  .ui-corner-all, .ui-corner-bottom, .ui-corner-left, .ui-corner-bl {
    border-bottom-left-radius: 5px;
  }
  .ui-corner-all, .ui-corner-top, .ui-corner-right, .ui-corner-tr {
    border-top-right-radius: 5px;
  }
  .ui-corner-all, .ui-corner-top, .ui-corner-left, .ui-corner-tl {
    border-top-left-radius: 5px;
  }
  .price_filter .ui-slider-handle.ui-state-default.ui-corner-all {
    background: #519f10 none repeat scroll 0 0;
    border: 2px solid #fff;
    border-radius: 100%;
    height: 15px;
    width: 15px;
  }
  .ui-slider .ui-slider-handle {
    position: absolute;
    z-index: 2;
    cursor: default;
    touch-action: none;
  }
 
  .ui-widget {
    font-family: Lucida Grande,Lucida Sans,Arial,sans-serif;
    font-size: 1.1em;
  }
.ui-slider-horizontal .ui-slider-handle {
    top: -3px;
    margin-left: -.6em;
}
.price_filter.mt-40 > span {
    color: #242424;
    display: block;
    margin-bottom: 30px;
}
.price_slider_amount .label-input input {
    background: transparent none repeat scroll 0 0;
    border: medium none;
    box-shadow: none;
    color: #363f4d;
    font-size: 14px;
    height: auto;
    margin: 3px 0 14px;
    padding-left: 49px;
    width: 100%;
}
.price_slider_amount > button {
    background-color: #242424;
    border: medium none;
    border-radius: 5px;
    color: #fff;
    line-height: 1;
    padding: 8px 16px;
    cursor: pointer;
    transition: all .3s ease 0s;
}
.price_slider_amount > button:hover {
    background-color: #519f10;
}
.price_filter > span {
    color: #242424;
    display: block;
    margin: 0 0 21px;
}
.shop-sidebar-border {
    border-top: 1px solid #ebebeb;
}
.sidebar-list-style ul li {
    display: block;
    list-style: outside none none;
    padding: 0 0 6px;
}
.sidebar-list-style ul li a {
    color: #242424;
}
.sidebar-list-style ul li a:hover {
    color: #519f10;
}
.sidebar-list-style ul li:last-child {
    padding: 0 0 0px;
}
.sidebar-list-style ul li input {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: 1px solid #d7d7d7;
    float: left;
    height: 17px;
    margin: 3px 12px 0 0;
    padding-left: 0;
    width: 17px;
    cursor: pointer;
}
.compare-product-btn {
    display: flex;
    justify-content: space-between;
}
.compare-product-btn > span {
    color: #242424;
    margin: 4px 0 0;
}
.compare-product-btn > a {
    background-color: #242424;
    border-radius: 3px;
    color: #fff;
    display: inline-block;
    line-height: 1;
    padding: 5px 15px 8px;
}
.compare-product-btn > a:hover {
    background-color: #519f10;
    color: #d7d7d7;
}
.compare-product > p {
    color: #242424;
    margin: 20px 0 24px;
}
.shop-tags li {
    display: inline-block;
    list-style: outside none none;
    margin: 0 4px 11px 0;
}
.shop-tags a {
    border: 1px solid #ebebeb;
    border-radius: 3px;
    color: #242424;
    display: inline-block;
    line-height: 1;
    padding: 8px 12px;
}
.shop-tags a:hover {
    border: 1px solid #519f10;
    background-color: #519f10;
    color: #fff;
}

.banner-area.pb-30 img {
    width: 100%;
}
.shop-topbar-wrapper {
    border: 1px solid #e9e9e9;
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
    padding: 15px 24px;
}
.view-mode {
    display: inline-block;
    margin-right: 33px;
}
.view-mode li {
    display: inline-block;
}
.view-mode li a {
    color: #898888;
    font-size: 20px;
    display: inline-block;
    margin: 0 10px 0 0;
}
.view-mode li.active a {
    color: #519f10;
}
.shop-topbar-left > p {
    display: inline-block;
    margin: 3px 0 0;
}
.shorting-style {
    display: inline-block;
    margin-left: 20px;
}
.product-shorting.shorting-style {
    margin-left: 0;
}
.shorting-style > label {
    color: #242424;
    cursor: pointer;
    margin: 0 11px 0 0;
}
.product-shorting.shorting-style select {
    width: 110px;
}
.shorting-style select {

    background: #fff u no-repeat scroll right 10px center;
    border: 1px solid #ebebeb;
    border-radius: 3px;
    box-shadow: none;
    color: #242424;
    cursor: pointer;
    font-size: 14px;
    height: 30px;
    padding-left: 10px;
    width: 210px;
}
.pagination-style li {
    display: inline-block;
    list-style: outside none none;
    margin: 0 8px 0 0;
}
.pagination-total-pages {
    display: flex;
    justify-content: space-between;
}
.pagination-style li a {
    background-color: #f1f1f1;
    border-radius: 3px;
    color: #242424;
    display: inline-block;
    line-height: 1;
    padding: 11px 13px;
}
.pagination-style li a:hover,
.pagination-style li a.active,
.pagination-style li a.next:hover {
    background-color: #519f10;
    color: #fff;
}
.pagination-style li a.prev-next {
    padding: 11px 22px;
}
.pagination-style li a.prev i {
    margin-right: 7px;
}
.pagination-style li a.next i {
    margin-left: 10px;
}
.pagination-style li a.next {
    background-color: #242424;
    color: #fff;
}
.pagination-total-pages {
    border: 1px solid #e9e9e9;
    padding: 15px 24px 13px;
}
.total-pages > p {
    margin: 4px 0 0;
}
.shop-border {
    border-bottom: 1px solid #ebebeb;
}