
*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
.dropDown {
    display: none;
    gap: 20px;
    border: 2px solid none;
    background-color: #fff;
    padding: 10px 0 20px;
    transform: translateY(20px);
    transition: all 0.3s;
    opacity: 0;
    z-index: 999;
    position: absolute;
    margin-top: -16px;
  }
  
  .dropDown > ul > li {
    width: 100%;
    margin-top: 10px;
    text-transform: capitalize;
    
  }
  
  .dropDown > ul > li a {
    padding-left: 10px;
  }
  
  nav > div>div > ul > li:hover > .dropDown {
    display: flex;
    opacity: 1;
    z-index: 2;

  }
  
 ul.lavel-menu li {
    padding: 0 30px;
}
 ul .lavel-menu {
    background: #fff none repeat scroll 0 0;
    box-shadow: 0 3px 7px rgba(0, 0, 0, 0.1);
    display: block;
    left: 100%;
    opacity: 0;
    padding: 20px 0px 22px;
    position: absolute;
    text-align: left;
    top: 10px;
    transition: all 0.3s ease 0s;
    visibility: hidden;
    width: 200px;
    z-index: 999;
    list-style: none;
    line-height: 2;

}
.dropDown li:hover ul.lavel-menu{
    opacity: 1;
    top: 0;
    visibility: visible;
    margin-top: 50px;
}
a , .lavel-menu a{
    text-decoration: none;
    color: #000;
}
a:hover , .lavel-menu a:hover{
    color: #519f10;
    text-decoration: none;
}

.tree {
    position: relative;
    background-image: url(../img/blog/blog-3.jpg);
    background-attachment: fixed;
    background-size: cover;
    height: 350px;
}
.tree-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.7);
}
.product-one , .product-two{
    background-image: url(../img/bg/bg-1.jpg);
    position: relative;
}
.product-three{
    background-image: url(../img/bg/bg-2.jpg);
    position: relative;
}
.add-to-cart{
    transform: scale(0);
    margin-top: -120px;
}
.cardd:hover  .add-to-cart{
    transition: 1s;
    transform: scale(1);
    margin-top: -120px;
}
.cardd:hover  .list{
    transform: scale(0);
}
.card-one{
    overflow: hidden;
}
.card-one img{
    transition: all 1.5s ease 0s;
}
.card-one:hover img{
    transform: scale(1.2);
}

/* /// */
.subscribe-form form input {
 
    background: transparent none repeat scroll 0 0;
    border: 1px solid #cacaca;
    box-shadow: none;
    color: #868686;
    /* display: inline-block; */
    float: left;
    font-size: 13px;
    height: 60px;
    margin: 0;
    padding: 0;
    padding-left: 20px;
    position: relative;
    width: 100%;
  }
  .subscribe-form form .submit-button input {
    background-color: #000000;
    border: medium none;
    color: #fff;
    cursor: pointer;
    font-size: 12px;
    font-weight: 600;
    height: 60px;
    line-height: 1;
    padding: 15px 40px;
    position: absolute;
    right: 15px;
    text-transform: uppercase;
    top: 0;
    width: inherit;
    font-family: 'Montserrat', sans-serif;
  }
  
  .subscribe-form form .submit-button input:hover {
      background-color: #519f10;
  }
  .subscribe-form form input::-moz-placeholder {
      color: #868686 !important;
      opacity: 1;
  }
  .subscribe-form form input::-webkit-input-placeholder {
      color: #868686 !important;
      opacity: 1;
  }

  h1, h2, h3, h4, h5, h6 {
    font-family: 'Playfair Display', serif;
    font-style: normal;
  }

.count-tilte::after {
    border-color: currentcolor currentcolor #454545;
    border-image: none;
    border-style: solid;
    border-width: 0 0 1px;
    top: 1;
    content: "";
    height: 1px;
    left: 0;
    margin: 0 auto;
    position: absolute;
    right: 0;
    text-align: center;
    width: 50px;
    box-sizing: border-box;
}
p {
    font-family: 'Lora', serif;
  }
/* ///////////contact us */
  .contact-form-style input, .contact-form-style textarea {
  background: transparent;
  border: 1px solid #ebebeb;
  color: #555;
  font-size: 13px;
  padding: 0 10px;
  border-radius: 3px;
}
.contact-form-style > button {
    background-color: #519f10;
    border-radius: 3px;
    color: #fff;
    display: inline-block;
    font-size: 12px;
    font-weight: 500;
    line-height: 1;
    padding: 17px 30px 16px;
    text-transform: uppercase;
    border: none;
    cursor: pointer;
    margin: 30px 0 0;
  }

  li{
    list-style: none;
  }
    /* ////////////////////////////////////////// */
    *{
      margin: 0px;
      padding: 0px;
      box-sizing: border-box;
  }
  .blog-content h2{
      font-family: 'Playfair Display', serif;
      font-style: normal;
      line-height: 1.2;
      color: #242424;
      font-size: 28px;
  font-weight: 400;
  margin: 0;
  }
  .blog-date p{
      color: #242424;
  font-size: 14px;
  font-style: italic;
  font-weight: 400;
  }
  .blog-date span{
      color: #519f10;
  transition: all 0.3s ease 0s;
  }
  .blog-content p{
      font-family: 'Lora', serif;
      color: #242424;
      font-size: 15px;
      line-height: 26px;
  }
  .blog-btn a{
      color: #242424;
  display: inline-block;
  font-weight: 500;
  margin: 2px 0 0;
  padding-left: 48px;
  
  }
  .blog-btn a:hover{
      color: #519f10;
  }
  .blog-btn > a::before {
      background-color: #000000;
      content: "";
      height: 1px;
      left: 0;
      position: absolute;
      transition: all 0.3s ease 0s;
      width: 37px;
      margin-top: 12px;
    }
   
    .blog-social {
      display: flex;
      justify-content: end;
      margin-top: -25px;
    }
  
    .blog-social span{
      text-align: left;
      color: #242424;
  font-weight: 500;
  margin: 3px 15px 0 0;
  text-transform: capitalize;
    }
    .blog-social ul li:nth-child(1) {
      margin-left: 0px;
    }
    .blog-social ul li {
      display: inline-block;
      margin-left: 13px;
      /* margin-top: 4px; */
    }
    .blog-social ul li a {
      color: #333333;
      font-size: 18px;
    }
    .blog-three {
     position: relative;
     padding: 74px 50px 77px 58px;
    }
    .quote-content > span {
      color: #fff;
    }
    .quote-content > h3 {
      font-family: 'Playfair Display', serif;
      color: #f3f2f2;
      font-size: 18px;
      font-weight: 500;
      line-height: 28px;
      margin: 19px 0 22px;
      text-transform: uppercase;
    }
    .quote-content > h3 a {
      color: #f3f2f2;
    }
    a{
      text-decoration: none;
  background-color: transparent;
    }
    .quote-content h6 {
      font-family: 'Playfair Display', serif;
      color: #fff;
      font-size: 18px;
      font-weight: 500;
      margin: 0;
      padding-left: 28px;
      position: relative;
    }
    .quote-content h6::before {
      background-color: #f3f2f2;
      content: "";
      height: 1px;
      left: 0;
      position: absolute;
      top: 9px;
      transition: all 0.3s ease 0s;
      width: 18px;
    }
    .blog-five{
  
          padding: 74px 50px 77px 58px;
    }
    .post-img > img {
      max-width: 140px;
    }
    img{
      vertical-align: middle;
  border-style: none;
    }
    .post-img img {
      display: inline-block;
      left: 0;
      margin: 0 auto;
     position: absolute;
      right: 0;
      text-align: center;
     margin-top: 60px;
      transform: translateY(-50%);
      z-index: 1;
    }
  
    /* /////////////////////////// */
    
  
   /* .rona{
  
  margin-bottom: 5px;
   }
    */